.homeForm {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    padding: 45px;
    float: right;
}
/*.homeForm .MuiFormControl-root.MuiTextField-root {
    width: 70%;
    margin: 5px auto;
}*/
.homeForm button.MuiButton-containedSecondary:not(.MuiButton-contained.Mui-disabled) {
    color: #fff !important;
    font-size: 20px;
    background: #109ea2 !important;
    box-shadow: none !important;
}
.homeForm button.Mui-disabled {
    background: #36a2a0 !important;
    opacity: .7;
    font-size: 20px;
}
.homeForm .form-group input {
    padding: 10px;
    background: #faaaaa;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: left;
    opacity: 1 !important;
    direction: ltr;
    height: 50px;
    margin: 10px 0;
    border-radius: 20px;
}
.homeForm label {
    margin-top: 20px;
    color: #fff;
}
.homeForm .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,.homeForm .MuiFormLabel-root.Mui-focused {
    border-color: #999!important;
    color:#999!important;
}
.homeForm .MuiFormLabel-root {
    color: #999 !important;

}
.homeForm .MuiFilledInput-underline::before,.homeForm .MuiFilledInput-underline:hover {
     border-bottom: none !important;
}
.homeForm .MuiFilledInput-underline::after {
    border-bottom: 3px solid #F04641 !important;
}
.homeFormBtn {
    width: max-content;
    height: 50px;
}
.w-80{
    width: 80% !important;
}
@media only screen and (max-width: 780px) {
    .homeForm {
        margin-top: 120px!important;
    }
    .homeForm label {
        margin-top: 0;
    }
    .w-sm-75{
        width: 75% !important;
    }
}
@media only screen and (max-width: 1200px) {
    .homeForm .MuiFormControl-root.MuiTextField-root {
        width: 100%!important;
        margin: 5px auto;
    }
}