@font-face {
    font-family: "IRANSansWeb";
    src: url("/fonts/IRANSansWeb/IRANSansWeb.eot") format("eot"),
    url("/fonts/IRANSansWeb/IRANSansWeb.woff") format("woff"),
    url("/fonts/IRANSansWeb/IRANSansWeb.woff2") format("woff2"),
    url("/fonts/IRANSansWeb/IRANSansWeb.ttf") format("ttf")
}
@font-face {
    font-family: "YekanBakh";
    src: url("/fonts/YekanBakh-Bold/YekanBakh-Bold.eot") format("eot"),
    url("/fonts/YekanBakh-Bold/YekanBakh-Bold.woff") format("woff"),
/*  url("/fonts/YekanBakh-Bold/YekanBakh-Bold.woff2") format("woff2"),*/
    url("/fonts/YekanBakh-Bold/YekanBakh-Bold.ttf") format("ttf")
}
@font-face {
    font-family: "revicons";
    fallback: fallback;
    src: url("/fonts/revicons/revicons.woff") format('woff'),
    url("/fonts/revicons/revicons.ttf") format('ttf'),
    url("/fonts/revicons/revicons.eot") format('ttf')
}