.SideDrawer {
    height: 100vh;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: #fff;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    z-index: 100000000000000;
    overflow: auto;
}
.SideDrawerHead {
    background: #008D9A;
    opacity: 0.95;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.SideDrawer a:not(.Logo a) {
    color: #212121;
    opacity: 0.7;
    text-align: right;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
    padding-top: 0;
}
.SideDrawer .MenuItem {
    text-align: right;
    margin-right: 0;
    height: 45px;
    display: inline-block;
}
.SideDrawer .MenuItems {
    height: auto;
    flex-direction: column;
    align-items: revert;
    margin-right: 12%;
    padding-top: 10px;
}
.active {
    border: none !important;
    color: #004FA8 !important;
}
.SideDrawer a:hover {
    color: #000;
    border-bottom: none !important;
    font-weight: bold;
}
.Open{
    transform: translateX(0)
}
.Close{
    transform: translateX(100%)
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none !important;
    border-radius: .25rem;
    margin-left: 20px;
}
.toggler {
    background: url(/images/iconsright.png) no-repeat 50% 50%;
    width: 26px;
    height: 26px;
    margin-top: 35px;
    opacity: .9;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.SideDrawer .Logo img {
    height: 75px;
    width: 75px;
    margin-top: 10px;
}
.SideDrawer .walletPlus {
    background: #fff;
    color: #3CB9EE;
}
@media(min-width:992px){
    .SideDrawer, .Backdrop {
        display: none;
    }
}