.main{
    background: #F2F2F2;
}
.homeBg {
    background: linear-gradient(92deg, rgba(194, 220, 227,0.85), rgba(118, 176, 191,0.9)), url(/images/carwash.jpg);
    min-height: 650px;
    background-clip: content-box;
    width: 100%;
    padding: 0 15px;
    background-size: cover;
    position: relative;
}
.homeDiv {
    position: absolute;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    top: 15%;
}
.tWashTtx{
    text-align: right;
    direction: rtl;
}
.tWashTtx h1 {
    margin: 20px -10px 30px;
    font-size: 28px;
    font-weight: bold;
}
.tWashTtx li {
    list-style: disc;
    height: 40px;
    padding-right: 15px;
    margin: 10px;
    font-size: 15px;
}
