.homeMain{
    font-size: 18px;
}
.main{
    background: #F2F2F2;
}
.homeBg {
    background: linear-gradient(92deg, rgba(194, 220, 227,0.85), rgba(118, 176, 191,0.7)), url(/images/carwash.jpg);
    height: 100vh;
    background-clip: content-box;
    width: 100%;
    padding: 0 15px;
    background-size: cover;
    position: relative;
    min-height: 506px;
}
.homeDiv {
    position: absolute;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    top: 100px;
}
.tWashTtx{
    text-align: right;
    direction: rtl;
}
.tWashTtx h1 {
    margin: 20px -10px 30px;
    font-size: 28px;
    font-weight: bold;
}
.tWashTtx li {
    list-style: disc;
    height: 40px;
    padding-right: 15px;
    margin: 10px;
    font-size: 15px;
}
.downloadBtn.MuiButton-containedSecondary {
    color: #fff;
    background-color: rgb(240,70,65) !important;
}
#header.homeHead {
    background: #008d9a;
    color: #fff;
}
#header.homeHead li.MenuItem a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
}
@media only screen and (max-width: 780px) {
    .homeDiv {
        flex-direction: column-reverse!important;
    }
    .homeDiv {
        position: relative!important;
        top: 5%!important;
        margin: 0 auto!important;
    }
    /*.top-design{
        max-height: 300px;
    }*/
    .w-sm-100{
        width: 100% !important;
    }
    .advantagesTxtCntr {
        top: 0 !important;
    }
    .advantagesTxtCntr > div {
        min-height: 300px;
        height: auto;
        width: 100% !important;
        margin-bottom: 20px;
    }
    .text-center>img{
        width: 80%;
        top: -55px !important;
    }
    .footerItem {
        width: 100% !important;
        background: #ef4d49;
        top: 35px;
        position: relative;
    }
    .footerItem>img {
        max-width: 200px;
    }
}
.footerItem {
    color:#fff
}
.top-design {
    background: url("/images/top design.png") no-repeat;
    width: 100%;
}
.advantagesTxt ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    cursor: pointer;
}
.advantagesTxt ul li p {
    max-width: 60%;
    text-align: right;
    float: right;
    color: #02868b;
    margin: 10px;
    direction: rtl;
    font-size: 16px;
}
.advantagesTxt  p {
    direction: rtl;
}
.advantagesTxtCntr {
    /*top: -150px;*/
    position: relative;
    display: inline-table;
}
.advantagesTxtCntr > div{
    height: 300px;
    box-shadow: 2px 3px 7px 5px #ccc;
}
.advantagesTxt ul li img {
    height: 80%;
    min-height: 40px;
}
.teamtop{
    background : #a3d5d5
}
.teamtop img{
    object-fit: contain;
}
.teamItems {
    margin-top: -50px;
    position: relative;
    z-index: -1;
}
.teamItems p {
    box-shadow: 2px 3px 7px 5px #ccc;
    margin: 0 auto;
    text-align: center;
    padding-top: 125px;
    margin-top: -135px;
    padding-bottom: 20px;
    line-height: 2;
    direction: rtl;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    height:auto;
}

.team ul li {
    padding-bottom: 10px;
}
.team ul li div {
    background: url("/images/teamtop.png") no-repeat;
    color: #02868b;
    width: 90%;
    height: 184px;
    display: inline-block;
    text-align: center;
    padding-top: 90px;
    direction: rtl;
    font-size: 20px;
    font-weight: bold;
    background-size: contain;
    background-position: center center;
}
.brd {
    height: 8px;
    background: red;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 3px 4px 10px 2px #888;
    z-index: 10000;
    position: relative;
}
.brdPink{
    height: 30px;
    background: pink;
    margin: 0;
    border-radius: 50px;
    width: 40%;
}
.surpriseTxt{
    line-height: 2;
}
.surpriseTxt h6{
    color:#02868b;
    font-size: 24pt;
}
.surpriseTxt p {
    font-size: 18px;
    direction: rtl;
    color: #000;
}
.comments > div {
    min-height: 220px;
    border-radius: 20px;
}
.comments p{
    direction: rtl;
}
.comments span{
    color:#02868b;
}
footer {
    background: url("/images/top design.png") no-repeat;
    height: 518px;
    width: 100%;
    padding-top: 150px;
}
.text-center{
    /*color: #fff;
    font-size:18px*/
}
.text-center span{
    font-size: 22px;
}
.text-center div img {
    width: 61px;
    margin-left: 10px;
    margin-top: -25px;
}
footer img:not(.flogo) {
    max-width: 40px;
}
.vh-100{
    height: 100vh !important;
}
@media only screen and (max-width: 780px) {
    .vh-100,.teamItems ,.teamtop ,.advantagesTxt ul li{
        height: auto !important;
    }
    .top-design {
        background: url("/images/top design.png") no-repeat;
        width: 100%;
        height: auto !important;
        padding-bottom: 20px;
    }
    .car{
        margin-top: 0 !important;
    }
    .advantagesTxt ul li img {
        max-height: 50px;
    }
    .advantagesTxt {
        padding: 0;
    }
    .top-design {
        min-height: 250px;
        margin-top: -20vh !important;
    }
    .logoMiddle{
        height: 5vh !important;
    }
    .logoMiddle img:last-child{
        height: 100%!important;
    }
    .logoMiddle img:first-child{
        display: none;
    }
    .car{
        height: 30vh !important;
    }
.top-design{
    height: 65vh !important;
}
}
@media only screen and (max-width: 600px) {
    .homeBg {
        min-height: 600px !important;
    }
    .homeDiv {
        top: 20px;
    }
    .car img {
        max-height: 200px;
    }

}

@media only screen and (min-width: 1600px) {
.car{
    margin-top: -160px;
}
    footer img:not(.flogo) {
        max-width: 100%;
    }
}
